.blocks{
    border-radius: 5px;
    background-color: rgba(196, 191, 191, 0.871);

    /* background-size: contain; */
}

.blocks:hover {
    background-image: none;
}

/* 
.blocks .blocks_img {
    height: auto;
    width: auto;
} */


